# Project exclude paths
/dist/
/node_modules/
/node_modules/@electron/asar/
/node_modules/@electron/notarize/
/node_modules/@electron/packager/
/node_modules/@electron/rebuild/
/node_modules/@electron-internal/extract-zip/
/node_modules/@malept/cross-spawn-promise/
/node_modules/@types/node/LICENSE
/node_modules/@types/node/README.md
/node_modules/@xterm/addon-fit/lib/
/node_modules/@xterm/addon-fit/LICENSE
/node_modules/@xterm/addon-fit/README.md
/node_modules/@xterm/xterm/lib/
/node_modules/@xterm/xterm/LICENSE
/node_modules/@xterm/xterm/README.md
/node_modules/balanced-match/
/node_modules/brace-expansion/
/node_modules/electron/
/node_modules/electron-liquid-glass/
/node_modules/electron-liquid-glass/dist/index.cjs
/node_modules/electron-liquid-glass/dist/index.js
/node_modules/esbuild/
/node_modules/esbuild/lib/main.js
/node_modules/filenamify/
/node_modules/flora-colossus/
/node_modules/galactus/
/node_modules/glob/
/node_modules/junk/
/node_modules/lru-cache/
/node_modules/minimatch/
/node_modules/minipass/
/node_modules/node-addon-api/
/node_modules/node-addon-api/tools/README.md
/node_modules/node-api-version/
/node_modules/node-gyp/
/node_modules/node-gyp/lib/Find-VisualStudio.cs
/node_modules/node-pty/
/node_modules/node-pty/src/tsconfig.json
/node_modules/node-pty/src/unix/
/node_modules/node-pty/src/win/
/node_modules/path-scurry/
/node_modules/pe-library/
/node_modules/pe-library/dist/format/ArrayFormatBase.js
/node_modules/pe-library/dist/format/FormatBase.js
/node_modules/pe-library/dist/format/ImageDataDirectoryArray.js
/node_modules/pe-library/dist/format/ImageDirectoryEntry.js
/node_modules/pe-library/dist/format/ImageDosHeader.js
/node_modules/pe-library/dist/format/ImageFileHeader.js
/node_modules/pe-library/dist/format/ImageNtHeaders.js
/node_modules/pe-library/dist/format/ImageOptionalHeader.js
/node_modules/pe-library/dist/format/ImageOptionalHeader64.js
/node_modules/pe-library/dist/format/ImageSectionHeaderArray.js
/node_modules/pe-library/dist/format/index.js
/node_modules/pe-library/dist/index.js
/node_modules/pe-library/dist/NtExecutable.js
/node_modules/pe-library/dist/NtExecutableResource.js
/node_modules/pe-library/dist/type/index.js
/node_modules/pe-library/dist/type/ResourceEntry.js
/node_modules/pe-library/dist/util/functions.js
/node_modules/pe-library/dist/util/generate.js
/node_modules/pe-library/dist/version.js
/node_modules/read-binary-file-arch/
/node_modules/resedit/
/node_modules/resedit/dist/data/BitmapInfo.js
/node_modules/resedit/dist/data/IconFile.js
/node_modules/resedit/dist/data/IconItem.js
/node_modules/resedit/dist/data/index.js
/node_modules/resedit/dist/data/RawIconItem.js
/node_modules/resedit/dist/index.js
/node_modules/resedit/dist/resource/IconGroupEntry.js
/node_modules/resedit/dist/resource/index.js
/node_modules/resedit/dist/resource/StringTable.js
/node_modules/resedit/dist/resource/StringTableItem.js
/node_modules/resedit/dist/resource/VersionFileFlags.js
/node_modules/resedit/dist/resource/VersionFileOS.js
/node_modules/resedit/dist/resource/VersionFileSubtypes.js
/node_modules/resedit/dist/resource/VersionFileType.js
/node_modules/resedit/dist/resource/VersionInfo.js
/node_modules/resedit/dist/sign/certUtil.js
/node_modules/resedit/dist/sign/data/AlgorithmIdentifier.js
/node_modules/resedit/dist/sign/data/Attribute.js
/node_modules/resedit/dist/sign/data/CertificateDataRoot.js
/node_modules/resedit/dist/sign/data/ContentInfo.js
/node_modules/resedit/dist/sign/data/DERObject.js
/node_modules/resedit/dist/sign/data/derUtil.js
/node_modules/resedit/dist/sign/data/DigestInfo.js
/node_modules/resedit/dist/sign/data/IssuerAndSerialNumber.js
/node_modules/resedit/dist/sign/data/KnownOids.js
/node_modules/resedit/dist/sign/data/ObjectIdentifier.js
/node_modules/resedit/dist/sign/data/SignedData.js
/node_modules/resedit/dist/sign/data/SignerInfo.js
/node_modules/resedit/dist/sign/data/SpcIndirectDataContent.js
/node_modules/resedit/dist/sign/data/SpcLink.js
/node_modules/resedit/dist/sign/data/SpcPeImageData.js
/node_modules/resedit/dist/sign/index.js
/node_modules/resedit/dist/sign/SignerObject.js
/node_modules/resedit/dist/sign/timestamp.js
/node_modules/resedit/dist/util/functions.js
/node_modules/resedit/dist/version.js
/node_modules/undici-types/LICENSE
/node_modules/undici-types/README.md
/release/TermX-darwin-arm64/TermX.app/Contents/Resources/app.asar.unpacked/node_modules/